/*********************************/

/* At 1125px */
@media screen and (max-width: 72em) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
    gap: 6rem 1rem;
  }
  .products {
    width: 90%;
    margin: 0 auto;
  }
  .profile-content {
    padding-top: 10%;
  }
}

/* At 950px */
@media screen and (max-width: 60em) {
  .profile-content {
    /* padding: 2rem 3rem; */
    /* background-color: #1f031f; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .profile-content div {
    width: 100%;
  }
}

/* At 940px */
@media screen and (max-width: 59em) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 6rem 1rem;
  }
  .products {
    width: 70%;
  }
}

/* At 880px */
@media screen and (max-width: 55em) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--primary-background-color);
    height: 7rem;
    z-index: 1000;
  }

  nav .nav-items {
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
  }

  nav .nav-items li a {
    padding: 1.4rem;
  }

  .nav-link--active {
    box-shadow: 0px -2px 0px 0px #dddddd;
  }

  .mini-menu-items {
    /* top: 3rem; */
    right: 1%;
    flex-direction: row;
    padding: 0 1rem;
    /* flex-wrap: wrap; */
  }

  .color-palette {
    left: 10%;
    flex-direction: row;
    width: 30rem;
    justify-content: space-between;
  }

  .profile-content {
    padding-top: 15%;
  }
}

/* At 710px */
@media screen and (max-width: 45em) {
  .products-container {
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 6rem 1rem;
  }
  .products {
    width: 50%;
  }
}

/* At 600px */
@media screen and (max-width: 38em) {
  .profile-section {
    flex-direction: column;
    margin: 0;
    padding: 0 0 10rem 0;
  }

  .profile-content,
  .user-info {
    width: 100%;
  }

  .user-info {
    padding-top: 10%;
  }

  .profile-content {
    padding-top: 0;
  }

  .profile-pic-wrapper {
    width: 30rem;
    height: 30rem;
  }

  .booking-form {
    /* min-width: 100%; */
    justify-content: center;
  }

  .book-now {
    justify-content: center;
    align-items: center;
  }

  .items-header h2 {
    margin-top: 15%;
    font-size: 4.2rem;
  }
}
/* At 450px */
@media screen and (max-width: 28em) {
  .header-container {
    padding: 1.4rem;
  }
  nav ul li .menuName {
    display: none;
  }

  nav ul li a ion-icon {
    font-size: 2rem;
  }

  .products {
    width: 70%;
  }
}

/* At 420px */
@media screen and (max-width: 26em) {
  .mini-menu-items {
    top: 100%;
    right: 15%;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-self: center;
    padding: 2rem;
  }

  .color-palette {
    left: 10%;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    top: 0;
    left: 95%;
  }

  .booking-form {
    max-width: 100%;
    left: 0;
    right: 0;
    /* justify-content: center; */
  }

  .book-now {
    /* justify-content: center; */
    align-items: center;
    max-width: 100%;
    padding: 1rem 2rem;
    margin: 0;
  }
  .items-header h2 {
    margin-top: 20%;
    font-size: 3.6rem;
  }
}

/* At 360px */
@media screen and (max-width: 23em) {
}
