.catalogue {
  margin: 4rem auto;
  max-width: 110rem;
}
.catalogue h2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin: 10rem 0 6rem;
  text-transform: capitalize;
  font-size: 4.8rem;
  color: #fff;
}
.catalogue span {
  font-size: 3.2rem;
}
.products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem 0;
  padding: 1rem;
}
.products {
  box-shadow: 0 14px 28px #0c0b0c98;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  color: #fff;
  transition: all 0.5s ease-in-out;
  width: 90%;
  max-height: 45rem;
}
.products:hover {
  box-shadow: 0 14px 28px #161316;
}
.products img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.product-img-container {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
.product-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.product-img-container img {
  width: 100%;
  height: 100%;
}
.product-details h4 {
  margin: 5px 0;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
}
.product-details p {
  font-size: 1.6rem;
  text-align: left;
  letter-spacing: 1px;
  width: 90%;
}
.product-details span {
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem 0;
}
.btn-container {
  margin-top: 10%;
  margin-bottom: 10%;
}
.btn-container ion-icon {
  font-size: 2rem;
}
.btn-container .btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 5px;
  background-color: var(--primary-background-color);
  color: #fff;
  border: none;
  width: 100%;
  justify-content: center;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-container .btn:hover {
  transform: scale(1.02);
}
.btn-container .btn:active {
  transform: translateY(2px);
}
.btn-container .btn span {
  font-size: 1.6rem;
  font-weight: 500;
}
.items-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  font-size: 5.4rem;
  gap: 1rem;
  margin: auto;
  color: #fff;
  margin-top: 10%;
}
.items-header ion-icon {
  font-size: 6.4rem;
}
.cart-image-container {
  height: 15rem;
  margin-right: 5rem;
}
.cart-image-container img {
  width: 100%;
  height: 100%;
}
.cart-product-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem 0;
}
.section-display {
  padding-bottom: 5rem;
}
.section-display li {
  list-style: none;
}
.quantity input {
  width: 5rem;
  height: 3rem;
  outline: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.6rem;
  text-align: center;
}
.list-container {
  display: flex;
  flex-direction: column;
}
.list__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  gap: 1rem 2rem;
  align-items: center;
  font-weight: 600;
  white-space: nowrap;
  color: #fcf6fc;
  margin-top: 3rem;
}
li .order {
  width: auto;
}
li .delBtn {
  width: auto;
}
li > div {
  border-left: 2px solid var(--primary-background-color);
  padding-left: 1rem;
}
.list-container li:nth-child(even) > div {
  border-left: 2px solid var(--secondary-background-color);
}
.list-container li:nth-child(even) > div:last-child,
.list-container li:nth-child(even) > div:first-child {
  border: none;
}
li > div:last-child,
li > div:first-child {
  border: none;
  padding-left: 0;
}
.cartBtn {
  display: flex;
  gap: 5px;
}
.list-container li:nth-child(even) {
  box-shadow: 0 14px 28px #0004b;
  background-color: var(--primary-background-color-gradient);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.order-container {
  min-height: 100vh;
  width: 40rem;
  background-color: var(--primary-background-color-gradient);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 7rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}
.hidden-form {
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
}
.order-image {
  height: 25rem;
  width: 100%;
  background-image: linear-gradient(
      to left,
      var(--primary-background-color-gradient),
      var(--primary-background-color-gradient)
    ),
    url(../img/four.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.order-image img {
  height: 100%;
  width: 100%;
}
.order-content {
  margin: 0 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-container h2 {
  margin: 2rem;
  text-align: center;
}
.order-container p {
  text-align: center;
  font-size: 1.6rem;
}
.order-input {
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  padding: 1rem;
  gap: 2rem;
}
.order-input input {
  width: 16rem;
  margin-bottom: 1px;
  border-radius: 2px;
  padding: 0.5rem;
  text-transform: capitalize;
  font-family: inherit;
  font-weight: 600;
}
.order-input input::-webkit-input-placeholder {
  font-size: 1.2rem;
}
.order-input input::-moz-placeholder {
  font-size: 1.2rem;
}
.order-input input:-ms-input-placeholder {
  font-size: 1.2rem;
}
.order-input input::-ms-input-placeholder {
  font-size: 1.2rem;
}
.order-input input:-ms-input-placeholder {
  font-size: 1.2rem;
}
.order-input input::placeholder {
  font-size: 1.2rem;
}
.price-display {
  background-color: var(--secondary-background-color);
  padding: 1rem;
  color: var(--primary-background-color);
  margin: 2rem 0;
  font-weight: 600;
  width: 100%;
}
.price-display input {
  width: 10rem;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
  padding: 5px;
}
.profile-form fieldset {
  align-items: center;
}
.profile-form legend {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.profile-form fieldset input {
  font-weight: 500;
  font-family: inherit;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
form .payment-btn {
  display: block;
  border: none;
  width: 100%;
  padding: 1.5rem;
  color: #fff;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.637) 0 3px 8px;
  margin: 2rem 0 3rem;
}
.close-icon {
  color: #fcf6fca6;
  cursor: pointer;
}
.order-close-icon {
  text-align: right;
  padding: 1rem 2rem;
}
